div {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 420px; // mobile menor
  background-color: #E5E5E5;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  border-radius: 12px;
  position: relative;
}

div img {
  width: 100%;
  height: 180px; // mobile
  object-fit: cover;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

h2 {
  padding: 0.5rem 1rem;
  margin-bottom: 0;
  color: black;
  font-size: 1.4rem; // mobile
  min-height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

p {
  padding: 0 1.2rem 1.2rem;
  color: #444;
  font-size: 1rem; // mobile
  flex-grow: 1;
}

/* Small devices (≥576px) */
@media (min-width: 576px) {
  div {
    min-height: 460px;
  }

  div img {
    height: 190px;
  }

  h2 {
    font-size: 1.5rem;
    min-height: 3.2rem;
  }

  p {
    font-size: 1.05rem;
  }
}

/* Medium devices (≥768px) */
@media (min-width: 768px) {
  div {
    min-height: 500px;
  }

  div img {
    height: 200px;
  }

  h2 {
    font-size: 1.6rem;
    min-height: 3.4rem;
  }

  p {
    font-size: 1.1rem;
    padding: 0 1.5rem 1.5rem;
  }
}

/* Large devices (≥992px) */
@media (min-width: 992px) {
  div {
    min-height: 520px;
  }

  div img {
    height: 210px;
  }

  h2 {
    font-size: 1.7rem;
    min-height: 3.5rem;
  }

  p {
    font-size: 1.15rem;
  }
}

/* X-Large devices (≥1200px) */
@media (min-width: 1200px) {
  div {
    min-height: 540px;
  }

  div img {
    height: 220px;
  }

  p {
    font-size: 1.2rem;
  }
}

/* XX-Large devices (≥1400px) */
@media (min-width: 1400px) {
  div {
    min-height: 560px;
  }

  div img {
    height: 230px;
  }
}
