body {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;

    // background-color: black;

    z-index: 3;

    // background-color: black;
}

.beneficios {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}

.whatsapp-float {
  position: fixed;
  bottom: 20px;
  left: 20px; /* canto esquerdo */
  z-index: 1000;
//   width: 60px;
//   height: 60px;
  border-radius: 50%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #25d366;
  transition: transform 0.2s ease;
}

.whatsapp-float:hover {
  transform: scale(1.1);
}

.whatsapp-float img {
  width: 50px;
  height: 50px;
}

.solucao {
  background-color: white;

  padding: 3rem;
}