    <section class="about-section">
        <div class="container">
            <div class="grid-layout">
                
                <div class="col-left"
                    appAnimateOnScroll
                    direction="down"
                    [delay]="0"
                >
                    <h1>Uma empresa de tecnologia especializada em soluções baseadas em RFID e IoT</h1>
                    
                    <div class="text-content">
                        <p>Nossa atuação vai além do rastreamento: estruturamos um cadastro de ativos preciso e integrado, reunindo informações como localização, características técnicas, histórico de uso e conformidade operacional. Isso permite decisões mais assertivas, redução de custos, planejamento eficiente e maior controle sobre todo o ciclo de vida dos ativos.</p>
                        
                        <p>Com foco em segurança de pessoas e processos, nossas soluções validam automaticamente autorizações e treinamentos obrigatórios, garantindo conformidade normativa e mitigando riscos em ambientes industriais, logísticos e técnicos.</p>

                        <p><strong>Unimos tecnologia, confiabilidade e segurança para transformar dados em controle, e controle em eficiência operacional.</strong></p>
                    </div>
                </div>

                <div class="col-right"
                    appAnimateOnScroll
                    direction="down"
                    [delay]="0"
                >
                    <p class="intro-text">
                        Somos uma empresa de tecnologia especializada em soluções baseadas em RFID e IoT, voltadas para a gestão inteligente de ativos, controle de acessos e segurança de processos. Atuamos ajudando organizações a terem visão completa, confiável e em tempo real de seus ativos, pessoas e ambientes críticos.
                    </p>

                    <div class="image-placeholder">
                        <img src="/background.png" alt="#">
                    </div>
                </div>

            </div>
        </div>
    </section>