section {
  background-color: black;

  padding-bottom: 1.25rem;

  margin-top: -10px;
    z-index: 3;
    position: relative;
}

.socialMedia {
    display: flex;
    justify-content: space-between;

    margin: 0 13rem 3rem 14rem;
}

h2 {
    text-align: center;

    color: white;

    font-size: 3.5rem;
}

h2:after {
  background-color: white;
  content: '';
  display: block;
  height: 1px;
//   width: 75px;
  margin: -1.75em auto; /* ← centraliza */

  width: 80%;
}


.contatos {
    display: flex;
    justify-content: space-evenly;

    margin-top: 14rem;
    margin-bottom: 5rem;
}

p {
    text-align: center;

    color: #BC963D;

    margin-bottom: 0;
}

// p:after {
//   background-color: white;
//   content: '';
//   display: block;
//   height: 1px;
// //   width: 75px;
//   margin: -3.75em auto; /* ← centraliza */

//   width: 80%;
// }

img {
  width: 75px;
  height: 60px;

  margin-top: 2rem;
}