<section> 
    <div class="socialMedia">
        <img src="/LogoIGF-Tech-PNG.png" alt="" class="logo">
        <app-button-social-media></app-button-social-media>
    </div>
    <h2>
        Contatos
    </h2>
    <div class="contatos">
        <app-button-footer-telephone></app-button-footer-telephone>
        <app-button-footer></app-button-footer>
        <app-button-footer-map></app-button-footer-map>
    </div>

    <p>
        Copyright@ 2025 - IGF Tech | Todos os direitos reservados.
    </p>
</section>