<!-- <img src="/gestao.png" alt="" class="gestao"> -->
<div class="banner">
    <h1>
        Pronto para otimizar sua gestão de ativos?
    </h1>
</div>

<div class="wpp-button">
    <a
        href="https://wa.me/5531999926910?text=Olá,%20gostaria%20de%20mais%20informações!"
        target="_blank"
        class="whatsapp-float"
        aria-label="WhatsApp da empresa"
        >
        <img
        src="/whatsapp.png"
        alt="WhatsApp"
        />
        <span class="whatsapp-tooltip">Falar no WhatsApp</span>
    </a>
</div> 