* {
  box-sizing: border-box;
}

.carousel-container {
  position: relative;
  width: 100%;
  padding-top: 5rem;
  background-color: white;
}

.carousel-window {
  width: 100%;
  overflow: hidden;
  padding: 28px 0;
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  flex: 0 0 100%;
  display: grid;
  gap: 20px;
  padding: 0 64px;
}

/* Card */
.card {
  background: white;
  border-radius: 12px;
  display: flex;
  flex-direction: column;

  img {
    width: 100%;
    height: 180px;
    object-fit: contain;
  }
}

.card-content {
  text-align: center;
}

.nav {
  position: absolute;
  top: 70%;
  transform: translateY(-50%);
  font-size: 40px;
  background: none;
  border: none;
  color: #BC963D;
  cursor: pointer;
  z-index: 10;
}

.prev { left: 24px; }
.next { right: 24px; }

/* ===== GRID CONTROLADO PELO TAMANHO ===== */

@media (min-width: 992px) {
  .slide {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 576px) and (max-width: 991px) {
  .slide {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 575px) {
  .slide {
    grid-template-columns: 1fr;
    padding: 0 24px;
  }

  .nav {
    font-size: 32px;
  }
}
