.firstSection {
    background-color: #E5E5E5;

    padding-top: 5rem;
    padding-bottom: 6rem;
}

.secondSection, .fourthSection {
    background-color: #E5E5E5;

    padding: 4rem 0;

    display: flex;
    justify-content: center;

    font-family: sans-serif;
}

.thirdSection {
    background-color: #E5E5E5;

    padding-top: 6rem;
}

.fourthSection {
    padding: 0;

    margin-bottom: 8rem;
}

img {
    width: 100%;
    max-height: 300px;

    border-radius: 16px;
}

/* LINHA DO TEMPO BENEFICIOS */

.main-container{
    position: relative;

    max-width: 1600px; // Evita que fique muito esticado em telas ultra-wide
}
/*creating line for timeline*/
.main-container::after{
    content: '';
    position: absolute;
    width: 10px;
    background-color: #c9a23a;
    top:0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
    box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.75);

    z-index: 0;
}

.nossoDiferencial::after {
    bottom: -1640px;
}

/*Adjusting box of all content*/
.text-wrapper{
    padding: 10px 40px;
    position: relative;
    z-index: 1;
    width:51%;
    box-sizing: border-box;

    padding-top: 2rem;
}
.text-wrapper::after{
    content: '';
    position: absolute;
    width: 75px;
    height: 70px;
    right: -10px;
    background-color: #c9a23a;
    top:15px;
    border-radius: 50%;
    z-index: 1;
}

/*for left events*/
.left1 .left2{
    left: 0;
}

.left1::after {
    background-image: url(../../../../public/RFID.png);
    background-position: center;
    background-size: 70%;
    background-repeat: no-repeat;
}

.left2::after {
    background-image: url(../../../../public/quadro.png);
    background-position: center;
    background-size: 70%;
    background-repeat: no-repeat;
}

/*for right events*/
.right{
    left:50%;
}

.right::after{
    left:-10px;
    background-image: url(../../../../public/tag-uhf.png);
    background-position: center;
    background-size: 70%;
    background-repeat: no-repeat;
}

.right2::after{
    left:-10px;
    background-image: url(../../../../public/quadro.png);
    background-position: center;
    background-size: 70%;
    background-repeat: no-repeat;
}

/*content box colour padding and radius for circular corner*/
.content{
    padding: 15px 15px 15px 17px;
    background-color: #064973;
    border-radius: 16px;
    box-shadow: -10px 10px 15px 0px rgba(0,0,0,0.75);
}

.content_right {
    box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.75);
}

/*setting text property of event heading*/
.content h3{
    text-transform: uppercase;
    font-size: 2rem;
    color: white;
    letter-spacing:1px;
}
/*setting text property of event content*/
.content p{
    color: white;
    font-weight: 300;
    font-size: 20px;
    margin-top: 2px;
    line-height: 1.3;
}

.content ul {
    color: white;
    font-weight: 300;
    font-size: 20px;
    text-align: justify;

    margin-top: 2px;
    line-height: 1.3;
}

li {
    padding-bottom: 8px;
}

/*for left events*/
.left3 .left4{
    left: 0;
}

.left3::after {
    background-image: url(../../../../public/brain.png);
    background-position: center;
    background-size: 70%;
    background-repeat: no-repeat;
}

.left4::after {
    background-image: url(../../../../public/challenge.png);
    background-position: center;
    background-size: 70%;
    background-repeat: no-repeat;
}

/*for right events*/
.right3{
    left:50%;
}

.right3::after{
    left:-10px;
    background-image: url(../../../../public/solutions.png);
    background-position: center;
    background-size: 70%;
    background-repeat: no-repeat;
}

.right4::after{
    left:-10px;
    background-image: url(../../../../public/quadro.png);
    background-position: center;
    background-size: 70%;
    background-repeat: no-repeat;
}


/* ===== SCROLL REVEAL ===== */

.reveal {
  opacity: 0;
  transform: translateY(60px);
  transition: opacity 0.9s ease, transform 0.9s ease;

  z-index: 1;
}

/* Entrando pela esquerda */
.left1.reveal,
.left2.reveal {
  transform: translateX(-80px);
}

/* Entrando pela direita */
.right.reveal {
  transform: translateX(80px);
}

/* Quando visível */
.reveal.active {
  opacity: 1;
  transform: translateX(0) translateY(0);
}

.card {
    max-width: 670px;
    margin: 0 auto 10rem auto;
    padding-left: 2rem;
    padding-right: 2rem;

    padding: 4rem 0px;
    display: flex;
    // justify-content: center;

    position: relative;
    z-index: 2;

    background-color: #E5E5E5;

    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.cardText {
    font-family: sans-serif;
    font-size: 1.75rem;
    font-weight: 600;

    text-align: center;

    padding: 0 7rem;
}

.cardBeneficios {
    display: flex;
    flex-direction: column;
}

.imgBeneficios {
    width: 60%;
    max-height: 400px;

    margin: auto;
}

.cardIntegracoes {
    display: flex;
    flex-direction: column;

    max-width: 915px;
}

.imgIntegracoes {
    width: 38%;
    max-height: 340px;

    margin: auto 0 auto 4rem;
}

.textEImgIntegracoes {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.textIntegracoes {
    font-size: 1.25rem;
    font-weight: 300;
    text-align: justify;
    
    line-height: 1.3;

    padding: 0 4rem;
}

.bold {
    font-weight: 600;
    // color: #fff;
}


/* ===========================
   TABLET (até 1024px)
=========================== */
@media (max-width: 1024px) {

  .main-container {
    max-width: 100%;
    padding: 0 1rem;
  }

  .main-container::after {
    left: 32px;
  }

  .text-wrapper {
    width: 100%;
    padding-left: 80px;
    padding-right: 20px;
  }

  .text-wrapper::after {
    left: 0;
    right: auto;
  }

  .right,
  .right3 {
    left: 0;
  }

  .content,
  .content_right {
    box-shadow: 0px 10px 15px rgba(0,0,0,0.6);
  }

  .content h3 {
    font-size: 1.6rem;
  }

  .content p,
  .content ul {
    font-size: 1.1rem;
  }

  .card {
    padding: 3rem 1rem;
  }

  .cardText {
    padding: 0 2rem;
    font-size: 1.4rem;
  }

  .imgBeneficios {
    width: 80%;
  }

  .textEImgIntegracoes {
    flex-direction: column;
    align-items: center;
  }

  .imgIntegracoes {
    width: 70%;
    margin: 0 auto 2rem auto;
  }

  .textIntegracoes {
    padding: 0 2rem;
  }
}

/* ===========================
   MOBILE (até 768px)
   Timeline centralizada
=========================== */
@media (max-width: 768px) {

  /* Linha da timeline no meio da tela */
  .main-container::after {
    left: 50%;
    transform: translateX(-50%);
    width: 6px;
  }

  /* Todos os cards ocupam 100% */
  .text-wrapper {
    width: 100%;
    left: 0 !important;
    padding: 2rem 1rem;
  }

  /* Centraliza TODOS os cards */
  .left1,
  .left2,
  .left3,
  .left4,
  .right,
  .right2,
  .right3,
  .right4 {
    left: 0;
  }

  /* Bolinha/ícone fica centralizado na linha */
  .text-wrapper::after {
    left: 50%;
    transform: translateX(-50%);
    right: auto;
  }

  /* Cards ficam visualmente centralizados */
  .content,
  .content_right {
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
    box-shadow: 0px 10px 15px rgba(0,0,0,0.6);
  }

  /* Remove sensação de “lado” no scroll reveal */
  .left1.reveal,
  .left2.reveal,
  .right.reveal,
  .right2.reveal,
  .left3.reveal,
  .right3.reveal,
  .left4.reveal {
    transform: translateY(60px);
  }

  /* Texto mais confortável no mobile */
  .content h3 {
    font-size: 1.35rem;
    text-align: center;
  }

  .content p,
  .content ul {
    font-size: 1rem;
    text-align: center;
  }

  .content ul {
    text-align: left;
  }
}
