.social-buttons {
    width: fit-content;

    display: flex;
    justify-content: center;
    align-items: center;
    // background-color: #f2f2f2;
    padding: 15px 10px;
    border-radius: 5em;

    margin-top: 2rem;

    // border: 2px solid white;
}

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin: 0 10px;
  background-color: #fff;
  box-shadow: 0px 0px 4px #00000027;
  transition: 0.3s;
}

.social-button:hover {
  background-color: #D5D5D5;
  box-shadow: 0px 0px 6px 3px #00000027;
}

.social-buttons svg {
  transition: 0.3s;
  height: 20px;
}

.facebook {
  background-color: #414141;
}

.facebook svg {
  fill: #f2f2f2;
}

.facebook:hover svg {
  fill: #BC963D;
}

.linkedin {
  background-color: #414141;
}

.linkedin svg {
  fill: #f2f2f2;
}

.linkedin:hover svg {
  fill: #BC963D;
}

.instagram {
  background-color: #414141;
}

.instagram svg {
  fill: #f2f2f2;
}

.instagram:hover svg {
  fill: #BC963D;
}
