.header {
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #eee;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;

    position: fixed;
    z-index: 99;
}

.header-container {
    max-width: 1200px;
    margin: auto;
    padding: 16px 20px;

    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
}

.header-left img {
    height: 30px;
}

.header-center {
    display: flex;
    justify-content: center;
    gap: 32px;
}

.header-center a {
    font-size: 13px;
    font-weight: 600;
    text-decoration: none;
    color: #000;
    transition: 0.3s;
}

.header-center a:hover {
    color: #c9a23a;
}

.header-right .btn-header {
    background: #c9a23a;
    color: #fff;
    padding: 10px 18px;
    font-size: 13px;
    font-weight: 600;
    text-decoration: none;
    border-radius: 4px;
}


// SLIDER

// .carousel {
//   position: relative;
// //   max-width: 900px;
//   margin: auto;
//   display: flex;
//   align-items: center;
//   z-index: 3;
// }

// .carousel-window {
//   overflow: hidden;
//   width: 100%;
// }

// .carousel-track {
//   display: flex;
//   transition: transform 0.5s ease-in-out;
// }

// .slide {
//   min-width: 100%;
//   position: relative;

//   img {
//     width: 100vw;
//     height: 100vh;
//     object-fit: cover;
//     // border-radius: 12px;
//   }

//   .content {
//     position: absolute;
//     top: 45%;
//     left: 50px;
//     transform: translateY(-50%);
//     max-width: 50%;
//     color: white;
//     // background: rgba(0, 0, 0, 0.55);
//     padding: 20px;
//     border-radius: 10px;
//     padding: 3rem;

//     background-color: rgba(0, 0, 0, 0.8);

//     h2 {
//       font-size: 42px;
//       margin-bottom: 0rem;
//     }

//     p {
//       font-size: 24px;
//       margin-bottom: 25px;
//       line-height: 1.4;
//       font-weight: bold;
//       margin-top: 1.5rem;

//       color: #BC963D;

//       margin-bottom: 4rem;
//     }

//     .cta {
//         appearance: none;
//         background-color: #BC963D;
//         border: 2px solid #fff;
//         border-radius: 12px;
//         box-sizing: border-box;
//         color: white;
//         cursor: pointer;
//         display: inline-block;
//         font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
//         font-size: 16px;
//         font-weight: 600;
//         line-height: normal;
//         margin: 0;
//         min-height: 8px;
//         min-width: 0;
//         outline: none;
//         padding: 8px 16px;
//         text-align: center;
//         text-decoration: none;
//         transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
//         user-select: none;
//         -webkit-user-select: none;
//         touch-action: manipulation;
//         width: auto;
//         will-change: transform;

//       &:hover {
//             color: #fff;
//             background-color: black;
//             box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
//             transform: translateY(-2px);
//       }
//     }
//   }
// }

// .nav {
//   background: none;
//   border: none;
//   font-size: 36px;
//   cursor: pointer;
//   padding: 10px;

//   color: #BC963D;
// }

// .next {
//     position: absolute;
//     right: 1%;
// }

// .prev {
//     position: absolute;
//     z-index: 1;
// }