<header class="header">
    <div class="header-container">
        <div class="header-left">
            <img src="/LogoIGF-Tech-PNG.png" alt="Logo IGF Tech">
        </div>

        <nav class="header-center">
            <a [routerLink]="['/home']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)=scrollTop()>Início</a>
            <a [routerLink]="['/quem-somos']" routerLinkActive="active" (click)=scrollTop()>Quem somos</a>
            <a [routerLink]="['/solucoes']" routerLinkActive="active" (click)=scrollTop()>Serviços+</a>
            <a [routerLink]="['/produtos']" routerLinkActive="active" (click)=scrollTop()>Produtos+</a>
            <a [routerLink]="['/contatos']" routerLinkActive="active" (click)=scrollTop()>Contatos</a>
        </nav>

        <div class="header-right">
            <a href="#" class="btn-header">ORÇAMENTO →</a>
        </div>
    </div>
</header>