.header {
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #eee;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;

    position: fixed;
    z-index: 99;

    font-family: sans-serif;
}

.header-container {
    max-width: 1200px;
    margin: auto;
    padding: 16px 20px;

    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
}

.header-left img {
    height: 30px;
}

.header-center {
    display: flex;
    justify-content: center;
    gap: 32px;
}

.header-center a {
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
    color: #000;
    transition: 0.3s;
}

.header-center a:hover {
    color: #c9a23a;
}

.header-right .btn-header {
    background: #c9a23a;
    color: #fff;
    padding: 10px 18px;
    font-size: 13px;
    font-weight: 600;
    text-decoration: none;
    border-radius: 4px;
}

// EFEITO SUBLINHADO

.header-center a {
  position: relative;
  padding-bottom: 6px;
}

/* Aba ativa */
.header-center a.active {
  color: #c9a23a;
}

/* Sublinhado dourado */
.header-center a.active::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #c9a23a;
  border-radius: 2px;
}

.header-center a::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #c9a23a;
  transition: 0.3s ease;
  transform: translateX(-1%);
}

.header-center a.active::after {
  width: 100%;
}

