<section class="about-section">
  <div class="container">
    <div class="grid-layout">

      <!-- COLUNA ESQUERDA (IMAGEM) -->
      <div
        class="col-left image-col animate"
        appAnimateOnScroll
        direction="left"
        [delay]="0">

        <div class="image-placeholder">
          <img src="/background.png" alt="Soluções em RFID e IoT">
        </div>
      </div>

      <!-- COLUNA DIREITA (TEXTO) -->
      <div
        class="col-right text-col animate"
        appAnimateOnScroll
        direction="left"
        [delay]="0">

        <h1>Entregar soluções inteligentes e personalizadas com RFID e IoT</h1>

        <div class="text-content">
          <p>
            Desenvolvemos tecnologias que integram <strong>rastreamento, monitoramento e automação</strong>, gerando valor por meio da inovação.
          </p>

          <p>
            Nosso foco é oferecer maior <strong>controle operacional</strong> e <strong>rastreabilidade confiável</strong> em cada projeto.
          </p>

          <p>
            Atuamos com compromisso com a <strong>integridade das pessoas</strong> e a proteção das informações.
          </p>
          <p>
            Buscamos elevar o padrão de <strong>excelência operacional</strong>, apoiando decisões mais seguras e estratégicas. Inovamos continuamente para transformar tecnologia em resultados reais.
          </p>
        </div>
      </div>

    </div>
  </div>
</section>
